{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {{ super() }}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Ingrese con su cuenta </h1>
        {{ wtf.quick_form(login_form) }}
    </div>

{% endblock %}
