{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todo(todo) %}
    <div class="container">
    <li class="list-group-item">
        <!--<span class="badge">-->
        {% if todo.to_dict().done %}
            <span class="badge progress-bar-success">
            Terminada
            </span>
        {% else %}
            <span class="badge">
            Pendiente
            </span>
        {% endif %}

        <p>tarea: {{ todo.to_dict().description }}</p>
            <a href="{{ url_for('delete', todo_id=todo.id) }}" class="btn d-inline-block btn-danger">Borrar tarea</a>
            <a href="{{ url_for('update', todo_id=todo.id, done=todo.to_dict().done) }}" class="btn d-inline-block btn-primary">Actualizar</a>
    </li>
    </div>
{% endmacro %}
